@import "flexbox";
@import "variables";

$primaryColor: #388e3c;
$secondaryColor: #eee;
$thirdColor: #333;

#dashboard {
  .card-navigation .card-content{
    margin: -38px -40px 0;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  li, a {
    display: inline-block
  }

  a {
    color: $primaryColor;
    font-weight: bold;
  }

  .badge {
    padding: 5px 10px;
    margin: 5px;
    background: $primaryColor;
    color: $secondaryColor;

    &:hover, &:active {
      color: $thirdColor;
    }
  }

  .cards {
    @include flexbox();
    @include flex-direction(row wrap);
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);

    .card {
      &, .card-content {
        box-sizing: border-box;
        padding: 20px;
      }
      &.card-left .card-content{
        @include align-items(flex-start);
      }

      display: block;
      border: none;

      .card-content {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        height: 100%;
        background: $secondaryColor;
        color: $primaryColor;

        text-align: center;
        & > span, h4 + span {
          font-weight: bold;
        }
      }

      &.card-h .card-content {
        @include flex-direction(row);
      }

      &.card-1 {
        width: 100%;
        font-size: 14px;
      }

      &.card-2 {
        width: 50%;
        font-size: 60px;
      }

      &.card-3 {
        width: 33.33%;
        font-size: 40px;
      }

      &.card-4 {
        width: 25%;
        font-size: 30px;

        h4{
          font-size: 18px;
        }
      }

      &.card-5 {
        width: 20%;
        font-size: 30px;
      }

      &.card-navigation {
        font-size: 20px;

        .card-content {
          padding: 0;
        }

        a {
          padding: 10px;
          color: $primaryColor;
          font-weight: bold;

          &:hover, &:active, &.active {
            background: #fff;
          }
        }
      }
    }

    &.cards-row-120 .card-content{
      min-height: 120px;
    }
    .card-list .card-content{
      font-size: 14px;
    }
  }

  @media (max-width: $screen-lg) {
    .card-4{
      width: 50% !important;
    }
    .card-3{
      width: 100% !important;
    }
    .card-2{
      width: 100% !important;
    }
  }

  @media (max-width: $screen-xs) {
    .card-4{
      width: 100% !important;
    }
  }
}
