@import "flexbox";
@import "kitchen";

body{
  margin: 0;
}

.md-toolbar {
  height: 80px;

  .md-button i.md-icon{
    color: black !important;
  }
  .menu-button {

    i.md-icon{
      color: #448aff !important;
    }
  }

  .field-ingredients {
    margin: 0 20px 10px 20px;
  }
  .multiselect {
    max-height: 40px;
    margin-top: 2px;

    .multiselect__tags, input {
      background-color: transparent;
    }
    input, input::placeholder, .multiselect__placeholder {
      color: white;
    }
    .multiselect__tags{
      @include flexbox();
      @include flex-direction(row);

      background-color: transparent;
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;

      .multiselect__tags-wrap{
        @include flexbox();
        @include flex-direction(row);

        .multiselect__tag{
          margin-bottom: 10px;
        }
      }
    }
    .multiselect__select::before{
      border-color: white transparent transparent;
    }
  }

  .field-type, .field-diet{
    width: 100px;
  }
  .field-name {
    max-width: 200px;
  }
  .field-diet, .field-name {
    margin-left: 20px;
  }
}

.md-drawer {
  padding: 10px;
  max-width: calc(100vw - 125px);

  button {
    display: block;
    margin: 20px auto;
  }
}

.recipes{
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(wrap);

  .recipe {
    width: 420px;
    margin: 10px;

    /*&:not(.md-expand-active) {
      height: 176px;
    }*/

    .md-title{
      text-align: center;
      height: 64px;
      font-size: 20px;
      font-weight: bold;
    }

    .md-card-actions div{
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      .md-card-expand-trigger .md-icon{
        color: white !important;
      }
      .diet {
        box-shadow: none;
        border-radius: 0;
        width: 40px;
        height: 40px;
      }
      div.diet i{ font-size: 40px !important;}
      div.info{

        &.allKitchen{
          &, i{
            color: #448aff;
          }
        }
        span, i {
          vertical-align: middle;
        }
        margin-left: 10px;
      }
    }

    .md-card-content{
      i, span { vertical-align: middle}
      i { width: 20px;}
    }

    &.hasPhoto {
      .md-card-media{
        .center-cropped {
          height: 280px;
        }
      }

      .md-card-media{
        z-index: -1;
      }

      .card-informations{
        height: 176px;
        margin-top: -176px;
        background-color: rgba(0,0,0,0.5);

        .md-card-actions{
          background: transparent;
        }
      }
      &.md-expand-active{
        .card-informations{
          height: auto;
          .md-card-expand{
            background-color: #212121;
          }
        }
      }
    }
  }
}



.center-cropped {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;

  img {
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
  }
}

.cart{
  .md-card-content {
    ul {
      padding-left: 30px;
      li {
        margin: 10px 0;
      }
    }
  }
}
