@import "flexbox";
@import "variables";

html, body{
  width: 100%;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;

  font-family: Verdana, Geneva, DejaVuSans, sans-serif;
  background-color: #fff;
}

#report_pdf {
  @import "common";
  padding: 20px;

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}