// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=880E4F
.type_meat{background-color: #b71c1c !important; } // rouge foncé

.type_meat i, .type_fruit_vegetable i, .type_vegan i,  .type_aromatic_herb i {
  color: white !important;
}
.type_fish_seafood i, .type_fish i, .type_cereal_legume i, .type_animal_fat i, .type_vegetable_fat i, .type_vege i,
.type_spice i,  .type_sugar i,  .type_salt i,  .type_alcohol i,  .type_water i{
  color: black  !important;
}

.type_fish_seafood,  , .type_fish,{background-color: #1e88e5 !important; } // bleue
.type_fruit_vegetable,  .type_vegan{background-color: #1b5e20 !important;} // vert foncé
.type_cereal_legume,{background-color: #fdd835 !important;} // jaune
.type_animal_fat,  {background-color: #e53935 !important;} // rouge clair
.type_vegetable_fat, .type_vege{background-color: #689f38 !important;} // vert clair
.type_aromatic_herb{background-color: #880e4f;} // violet
.type_spice{background-color: #e64a19 !important; } // orange
.type_sugar{background-color: white !important; }
.type_salt{background-color: white !important; }
.type_alcohol{background-color: white !important; }
.type_water{background-color: white !important; }
