@import "flexbox";
@import "kitchen";

body{
  margin: 0;
}

.md-toolbar {
  height: 80px;

  .search-field {
    margin: 0 20px 10px 20px;
  }
  .multiselect {
    max-height: 40px;
    margin-top: 6px;

    .multiselect__tags, input {
      background-color: transparent;
    }
    input, input::placeholder, .multiselect__placeholder {
      color: white;
    }
    .multiselect__tags{
      @include flexbox();
      @include flex-direction(row);

      background-color: transparent;
      border-radius: 0;
      border-top: none;
      border-left: none;
      border-right: none;

      .multiselect__tags-wrap{
        @include flexbox();
        @include flex-direction(row);

        .multiselect__tag{
          margin-bottom: 10px;
        }
      }
    }
    .multiselect__select::before{
      border-color: white transparent transparent;
    }
  }
}

.recipes{
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(wrap);

  .recipe {
    width: 460px;
    margin: 10px;

    /*&:not(.md-expand-active) {
      height: 176px;
    }*/

    .md-title{
      text-align: center;
      height: 64px;
      font-size: 20px;
    }

    .md-card-actions div{
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      .md-button{
        &, .md-icon {
          color: black !important;
        }
        &.bg_black{ background-color: black !important;  }
        &.bg_black i.md-icon{color: white !important;}
      }
      .md-card-expand-trigger .md-icon{
        color: white !important;
      }
    }

    .md-card-content{
      i, span { vertical-align: middle}
      i { width: 20px;}
    }
  }
}

.center-cropped {
  width: 100vh;
  height: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
}
