@import "flexbox";

body{
  margin: 0;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(wrap);

  .recipe{
    & > a {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }
}
