@import "flexbox";
@import "kitchen";

body{
  margin: 0;
}

.recipes{
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(top);
  @include flex-wrap(wrap);

  .recipe {
    width: 460px;
    margin: 10px;

    &:not(.md-expand-active) {
      height: 176px;
    }

    .md-title{
      text-align: center;
      height: 64px;
      font-size: 20px;
    }

    .md-card-actions div{
      @include flexbox();
      @include flex-direction(row);
      @include align-items(center);

      .md-button{
        &, .md-icon {
          color: black !important;
        }
      }
      .md-card-expand-trigger .md-icon{
        color: white !important;
      }
    }

    .md-card-content{
      i, span { vertical-align: middle}
      i { width: 20px;}
    }
  }
}
