{% extends 'base.html.twig' %}

{% block title %}{{ 'Login' | trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block body %}
    <div>
        {% if error %}
            <div class="alert alert-danger">
                <ul class="list-unstyled mb-0">
                    <li>
                        <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </li>
                </ul>
            </div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}